
    <!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="template.css" />
        <link rel="stylesheet" href="docs.min.css" />
        <style id="styles"></style>
      </head>
      <body>
        <div id="html_wrapper">
          <h1>Colors</h1>

<style>
.color-circle {
  width: 100%;
  min-height: 100px;
  min-width: 100px;
  margin: 10px 0;
}
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="color-circle bg-primary"></div>
      <div>Primary</div>
    </div>
    <div class="col-4">
      <div class="color-circle bg-secondary"></div>
      <div>Secondary</div>
    </div>
    <div class="col-4">
      <div class="color-circle bg-success"></div>
      <div>Success</div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="color-circle bg-danger"></div>
      <div>Danger</div>
    </div>
    <div class="col-4">
      <div class="color-circle bg-warning"></div>
      <div>Warning</div>
    </div>
    <div class="col-4">
      <div class="color-circle bg-info"></div>
      <div>Info</div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="color-circle bg-light"></div>
      <div>Light</div>
    </div>
    <div class="col-4">
      <div class="color-circle bg-dark"></div>
      <div>Dark</div>
    </div>
    <div class="col-4">
      <div class="color-circle bg-white"></div>
      <div>White</div>
    </div>
  </div>
</div>

        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/mode-html.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/theme-tomorrow.js"></script>
        <script type="text/javascript" src="highlight.pack.js"></script>
        <script src="docs.min.js"></script>
        <script type="text/javascript" src="template.js"></script>
      </body>
    </html>
  